html, body {
  height: 100%;
  width: 100%;
}

a:active{
  background-color: green; 
  color: yellow;
}

a:hover{
  background-color: lightblue;
  color: orange;
}

body{
    background-image:url(https://miro.medium.com/max/1200/1*9IIoxOcIbhMFFKMCI2ncuQ.jpeg)
    }

/*
h1, a, p{
  color:white;
}
*/

*{
  color: white;
}

h1:first-letter{
  font-size:2em;
}

a[target="_blank"]{
  background-color: lightcoral;
  color:darkblue;
  
}

img {
  width:40%;
  margin:30px;
}
